/**
 * Include this file early in your Sass project to
 * get access to Solarized colors and functions.
 *
 * Adapted from the outstanding work by Ethan Schoonover:
 * http://ethanschoonover.com/solarized
*/

$base03:       #002b36;
$dark-black:   $base03;
$base02:       #073642;
$black:        $base02;
$base01:       #586e75;
$base00:       #657b83;
$base0:        #839496;
$base1:        #93a1a1;
$base2:        #eee8d5;
$white:        $base2;
$base3:        #fdf6e3;
$bright-white: $base3;
$yellow:       #b58900;
$orange:       #cb4b16;
$red:          #dc322f;
$magenta:      #d33682;
$violet:       #6c71c4;
$blue:         #268bd2;
$cyan:         #2aa198;
$green:        #859900;

@mixin solarized-dark {
  background-color: $base03;
  color: $base0;
}
@mixin solarized-light {
  background-color: $base3;
  color: $base00;
}
