@import 'h5bp';
@import 'solarized';

body {
  background-color: $dark-black;
  color: $base0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

.content-panel {
  text-align: center;
}

.bolt-data {
  color: $yellow;

  span {
    color: $base0;
  }
}

.drill-chart {
  tr {
    &:nth-child(even) {background: $base03;}
    &:nth-child(odd) {background: $base02;}
  }
}

.fraction-chart {
  text-align: left;

  tr {
    &:nth-child(even) {background: $base03;}
    &:nth-child(odd) {background: $base02;}
  }
}

.swiper-container {
  background-color: $dark-black;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: url('../img/pagerArrow.svg');
}

.swiper-button-next {
  transform: rotate(180deg);
}

table {
  margin: auto;

  img {
    height: 1.5em;
    padding: .5em;
  }
}
