@import 'h5bp';
@import 'solarized';

body {
  background-color: $dark-black;
  color: $base0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

.content-panel {
  text-align: center;
}

.bolt-data {
  color: $yellow;

  span {
    color: $base0;
  }

  .selector {
    width: 100%;

    select {
      width: 50%;
    }
  }
}

.drill-chart {
  tr {
    &:nth-child(even) {background: $base03;}
    &:nth-child(odd) {background: $base02;}
  }
}

.fraction-chart {
  tr {
    &:nth-child(even) {background: $base03;}
    &:nth-child(odd) {background: $base02;}
  }
}

.slider {
  display: inline-block;
  overflow: hidden;

  .content {
    position: relative;

    .page {
      float: left;
    }
  }
}

.page {
  height: 300px;
  width: 300px;

  .page-content {
    background: $dark-black;
    border-radius: 20px;
    display: inline-block;
    margin: .5em;
    padding: 1em;
  }
}




